<% @post.comments.each do |comment| %>
  <%if comment.user == current_user %>
  <div class="talk_left">
    <p class="mt-1 mb-1"><%= image_tag comment.user.profile_image,size:"50x50" %><%= comment.comment %><br><%= comment.created_at.strftime('%Y/%m/%d') %>
  <% if comment.user == current_user %>
    <%= link_to "削除", public_post_comment_path(comment.post, comment), method: :delete, remote: true  %>
  <% end %></p>
  </div>
 <%else%>
 <div class="talk_right">
   <p class="mt-1 mb-1"><%= image_tag comment.user.profile_image,size:"50x50" %><%= comment.comment %><br> <%= comment.created_at.strftime('%Y/%m/%d') %>
  <% if comment.user == current_user %>
    <%= link_to "削除", public_post_comment_path(comment.post, comment), method: :delete %>
   <% end %></p>
 </div>
  <%end%>
<%end%>