<table class="mt-5 mb-5">
        <thead>
            <tr>
                <td class="non mr-3 ml-3"></td>
                <th>カテゴリー</th>
                <th scope="col mr-3 ml-3">転倒場所</th>
                <th scope="col mr-5 ml-5">状況</th>
                <th scope="col mr-5 ml-5">対策</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <% @posts.each do |post| %>
                <th>
                  <figure class="profile-image">
                    <%= image_tag post.user.profile_image,size:"50x50" %>
                    <%= post.user.name%>
                  </figure>
                  </th>
                  <td><%= post.category.name %></td>
                <td class="txt"><%= post.title %></td>
                <td class="price"><%= post.body %></td>
                <td class="price"><%= post.prevention %></td>
              <% end %>
            </tr>
        </tbody>
    </table>

