<div class="text-center favorite-box">
  <h1 class="text-center mt-5 mb-5">カテゴリーの一覧</h1>
  <table class="mt-5 mb-5">
    <thead>
      <tr>
      <td class="non mr-3 ml-3"></td>
      <th>カテゴリー</th>
      <th scope="col mr-3 ml-3">転倒場所</th>
      <th scope="col mr-5 ml-5">状況</th>
      <th scope="col mr-5 ml-5">対策</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <th>
            <figure class="profile-image">
              <%= image_tag post.user.profile_image,size:"50x50" %>
              <%= post.user.name%>
            </figure>
          </th>
            <td><%= link_to post.category.name,public_posts_path(category: post.category.id) %></td>
            <%if  user_signed_in? || admin_signed_in?%>
              <td class="txt"><%=link_to post.title, public_post_path(post) %></td>
            <%else%>
              <td class="txt"><%=post.title %></td>
            <%end%>
            <td class="price post-index-wrap"><%= post.body %></td>
            <td class="price post-index-wrap"><%= post.prevention %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
