<!--<#% @posts.each do |post| %>-->
<!--     <figure class="profile-image">-->
<!--        <#%= image_tag current_user.profile_image,size:"50x50" %>-->
<!--    </figure>-->
<!--      <p>どこで転びましたか？</p>-->
<!--      <h2><#%= post.title %> </h2>-->
<!--      <p>転倒時の状況</p>-->
<!--      <h2 ><#%= post.body %></h2>-->
<!--      <p>転ばない為に何が必要ですか</p>-->
<!--      <h2 ><#%= post.prevention %><br></h2>-->
<!--      <p>日常で危険だと思う場所をイラストで教えてください</p>-->
<!--      <#% post.images.each do |image| %>-->
<!--      <#%= image_tag(image, width:400, height:300)  %>-->
<!--      <#%end%>-->
<!--<#%end%>-->


<table>
        <thead>
            <tr>
                <td class="non"></td>
                <th scope="col">転倒場所</th>
                <th scope="col">状況</th>
                <th scope="col">対策</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <% @posts.each do |post| %>
                <th>
                  <figure class="profile-image">
                    <%= image_tag post.user.profile_image,size:"50x50" %>
                    <%= post.user.name%>
                  </figure>
                  </th>
                <td data-label="内容" class="txt"><%= post.title %></td>
                <td data-label="価格" class="price"><%= post.body %></td>
                <td data-label="価格" class="price"><%= post.prevention %></td>
              <% end %>
            </tr>
        </tbody>
    </table>

