<div class="container">
    <%= link_to "一覧",public_posts_path ,class: "btn btn-secondary "%>
    <%@categories.each do |category|%>
      <div class="btn btn-secondary" style="color: #fff;">
        <%= link_to category.name,public_posts_path(category: category.id) %>
      </div>
  <% end%>
</div>

<table class="mt-5 mb-5">
        <thead>
            <tr>
                <td class="non mr-3 ml-3"></td>
                <th>カテゴリー</th>
                <th scope="col mr-3 ml-3">転倒場所</th>
                <th scope="col mr-5 ml-5">状況</th>
                <th scope="col mr-5 ml-5">対策</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
              <tr>
                  <th>
                    <figure class="profile-image">
                      <%= image_tag post.user.profile_image,size:"50x50" %>
                      <%= post.user.name%>
                    </figure>
                    </th>
                    <td><%= link_to post.category.name,public_posts_path(category: post.category.id) %></td>
                  <td class="txt"><%=link_to post.title, public_post_path(post) %></td>
                  <td class="price"><%= post.body %></td>
                  <td class="price"><%= post.prevention %></td>
              </tr>
            <% end %>
        </tbody>
    </table>

