<div class= "container">
  <div class="row">
      <table  class="form-table mt-5 mb-5">
        <%= form_with model: @post, url: public_posts_path do |f| %>
        <tr>
          <th>どんな症状をお持ちですか？</th>
          <td><%= f.text_field :title ,class:"posts-new-text" %></td>
        </tr>
        <tr>
          <th>転倒時の状況</th>
          <td><%= f.text_area :body %></td>
        </tr>

        <tr>
          <th>転ばない為に何が必要ですか</th>
          <td> <%= f.text_area :prevention %></td>
        </tr>
        <tr>
          <th>日常で危険だと思う場所をイラストで教えてください</th>
          <td><%= f.text_area :illust %></td>
        </tr>
      </table>



        <%= f.file_field :images, multiple: true %><br>
        <%= f.submit "click" %>
        <% end %>
  </div>
</div>