<div class= "container">
  <div class="row">
    <div class="col-5 mr-4">
      <%= form_with model: @post, url: public_posts_path do |f| %>
      <p>どんな症状をお持ちですか？</p>
      <%= f.text_field :title %><br>
      <p>転倒時の状況</p>
      <%= f.text_area :body %><br>
      <p>日常で危険だと思う場所をイラストで教えてください</p>
      <%= f.text_area :illust %><br>
      <%= f.file_field :images, multiple: true %>
      <p>転ばない為に何が必要ですか</p>
      <%= f.text_area :prevention %>
      <%= f.submit "click" %>
      <% end %>
    </div>

      <div class="col-5">
        <p>こちらが見本です</p>
        <p>どんな症状ですか</p>
        <p>足に力が入りません<br>
        立ち上がる時に眩暈がする</p>

        <p>日常生活で転びそうな場所</p>
        <p>トイレ、台所、ふろ場</p>
      </div>


    </div>
</div>