<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

 <div class="text-center">
    <%= form_with model: @post, url: public_posts_path do |f| %>
    <h6>どこで転びましたか？</h6>
    <p><%= f.text_field :title ,class:"posts-new-text",placeholder: "7文字以内",:size => "50*50", class:"text-title" %></p>
    <h6>転倒時の状況</h6>
    <p><%= f.text_area :body,placeholder: "100文字以内",:size => "50*50", class:"text-body" %></p>

    <h6>転ばない為に何が必要ですか</h6>
    <p> <%= f.text_area :prevention,placeholder: "100文字以内",:size => "50*50", class:"text-prevention" %></p>
    <h6>日常で危険だと思う場所をイラストで教えてください</h6>
    <p class="input-image"><%= f.file_field :images, multiple: true, class:"input-image-center" %></p>
    <h6>カテゴリーを選択してください</h6>

    <div class="form-inline  mb-4 row post-new-category d-flex ">
      <%= f.label "カテゴリ", class:"post-new-category-title" %>
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
    </div>
    <%= f.submit "click" %>
  <% end %>
</div>