  <div class="text-center mt-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-page">
        <div class="form">
          <h2 class="pb-3">login</h2>
        <%= f.label :email %><br />
        <p class="message"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>

          <%= f.label :password %>
         <p class="message"> <%= f.password_field :password, autocomplete: "current-password" %></p>

        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
           <p class="message"> <%= f.label :remember_me %> </p>
        <% end %>

          <p class="message"><%= f.submit "Log in" %></p>
          </div>
        </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>