<div class="text-center">
  <%= form_with model: @profile, url: public_profile_path, method: :put, local: true do|f| %>

  <%= f.label :image, 'プロフィール画像',class:"mt-3" %><br>
  <%= f.file_field :image,class:"profile-image-field" %>

  <br>
  <%= f.label :name, '名前',class:"mt-3" %><br>
  <%= f.text_field :name %>
  <br>


  <%= f.label :subbody, '一言',class:"mt-3" %><br>
  <%= f.text_field :subbody,placeholder: "10文字以内" %>
  <br>
  <%= f.label :mainbody, '自己紹介',class:"mt-3" %><br>
  <%= f.text_field :mainbody,placeholder: "30文字以内" %>
  <br>
  <%= f.submit "更新",class:"mt-3" %>

  <% end %>
</div>