        <div class="text-center">
        <h1>Profile</h1>
               <figure class="profile-image">
            <%= image_tag current_user.profile_image,size:"50x50" %>
        </figure>

        <%if current_user.name %>
          <h2><%= @user.name %></h2>
        <% else%>
          <h2>ゲストユーザー</p>
        <% end %>

        <h3>自己紹介</h3>
        <p><%= @profile&.mainbody %></p>
       <p>よろしくお願いします。</p>

        <p><a href="./links.html"><%=link_to"お気に入り記事", favorites_public_profile_path(@user) %></a></p>
</div>
    <% if @user.name != "guestuser" %>
      <p><%= link_to "edit", edit_public_profile_path, class:"text text-center" %></p>
    <% end %>
