<!--検索タグ-->
<div class="w-50">
  <h1>カテゴリ情報更新</h1>

  <%= form_with model: @category, url: admins_category_path(@category), local: true do |f| %>
    <div class="form-inline mt-4 mb-4 row">
      <%= f.label :name, "カテゴリ名", class: "col-2 d-flex justify-content-start" %>
      <%= f.text_field :name, class: "form-control col-8" %>
    </div>
<%= f.submit "更新", class: "w-25 btn btn-primary" %>
  <% end %>
  <div class="mt-4"><%= link_to "カテゴリ一覧に戻る", admins_categories_path %></div>
</div>
