<div class="container mt-5">
  <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
    <div class="row">
      <div class="col-xs-6 mx-auto">
        <table class="table table-bordered">
          <tr>
            <th>会員ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= f.text_field :name, style:"width: 250px; margin: 3px;" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.text_field :email,style:"width: 250px; margin: 3px;" %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <%= f.radio_button :is_delete, "true" %> 退会
              <%= f.radio_button :is_delete, "false" %> 有効
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row" style="margin-right: 200px;">
      <div class="col-xs-4 mx-auto mb-3">
        <%= f.submit "変更を保存", class:"btn btn-success rounded-pill" %>
      </div>
    </div>
  <% end %>
</div>

