   <%= image_tag "jaddy.jpg", class:"top-image" %>

    <!--<p>転倒の事例</p>-->
<div class="container mt-5">
 <div class="row">
   <div class="col-md-9">
    <div class="d-flex ">
     <div>
       <% @posts.each do |post| %>
          <% post.images.each do |image| %>
          <%= image_tag(image, width:400, height:300)  %>
          <% end %>
     </div>
     <div class="ml-3 mt-5">
        <h5><%= post.title %></h5>
        <p><%=post.body %></p>
        <%= link_to "投稿者のページへ", public_post_path(post) %>
        <%end%>
     </div>
    </div>
   </div>

  <div class="col-md-3">
    <p>キーワードを入力</p>
    <% if user_signed_in? %>
       <%= form_with url: search_path, local: true, method: :get, class:"d-flex" do |f| %>
        <%= f.text_field :word%>
        <!--<#%= f.select :range, options_for_select([['User'], ['Post']]) %>-->
       <!--<#%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>-->
        <%= f.submit "検索"  %>
       <% end %>
    <% end %>

       <p class="post-side-title">投稿したユーザー</p>
      <% @posts.each do |post| %>
       <p> <%= image_tag current_user.profile_image,size:"50x50" %><%=post.user.name %></p<br>
      <%end%>
  </div>
 </div>
</div>
<%= paginate @posts %>